---
permalink: /test/
title: "Movie test"
date: 2016-08-22
excerpt: "Movie list test"
---

<ul>
{% for post in site.tags["영화"] %}
  <li>
    {{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
    {% if post.tags contains '★☆☆☆☆'  } ★☆☆☆☆
    {% elseif post.tags contains '★½☆☆☆'  } ★½☆☆☆
    {% elseif post.tags contains '★★☆☆☆'  } ★★☆☆☆
    {% elseif post.tags contains '★★½☆☆'  } ★★½☆☆
    {% elseif post.tags contains '★★★☆☆'  } ★★★☆☆
    {% elseif post.tags contains '★★★½☆'  } ★★★½☆
    {% elseif post.tags contains '★★★★☆'  } ★★★★☆
    {% elseif post.tags contains '★★★★½'  } ★★★★½
    {% elseif post.tags contains '★★★★★'  } ★★★★★
    {% endif %}
  </li>
{% endfor %}
</ul>
